In [1]:
import networkcommons as nc

In [2]:
# nc.data.omics.datasets()

,name,description,publication_link,detailed_description
decryptm,DecryptM,Drug perturbation proteomics and phosphoproteomics data,https://doi.org/10.1126/science.ade3925,"This dataset contains the profiling of 31 cancer drugs in 13 human cancer cell line models resulted in 1.8 million dose-response curves, including 47,502 regulated phosphopeptides, 7316 ubiquitinylated peptides, and 546 regulated acetylated peptides."
panacea,Panacea,Pancancer Analysis of Chemical Entity Activity RNA-Seq data,https://doi.org/10.1016/j.xcrm.2021.100492,"PANACEA contains dose-response and perturbational profiles for 32 kinase inhibitors in 11 cancer cell lines, in addition to a DMSO control. Originally, this resource served as the basis for a DREAM Challenge assessing the accuracy and sensitivity of computational algorithms for de novo drug polypharmacology predictions."
moon,MOON,Database files for running MOON,https://example.com/moon,This dataset contains database files required for running the MOON software.
cosmos,COSMOS,Database files for running COSMOS (MetaPKN),https://example.com/cosmos,This dataset includes database files for the COSMOS software (MetaPKN).
CPTAC,CPTAC,Clinical Proteomic Tumor Analysis Consortium data,https://example.com/CPTAC,This dataset contains data from the Clinical Proteomic Tumor Analysis Consortium. It includes various cancer types and proteomic data.

In [3]:
# sig = nc.data.omics.moon()

In [4]:
# sig['metab']

           metab     value  Unnamed: 2
0    HMDB0011747  0.401991         NaN
1    HMDB0000755 -0.142718         NaN
2    HMDB0000905 -1.244183         NaN
3    HMDB0000012 -0.967207         NaN
4    HMDB0001191 -0.631035         NaN
..           ...       ...         ...
133  HMDB0011720 -0.716155         NaN
134  HMDB0000883 -0.059923         NaN
135  HMDB0000292 -0.772272         NaN
136  HMDB0000299  1.132812         NaN
137  HMDB0002917 -1.728352         NaN

[138 rows x 3 columns]

In [5]:
df = nc.data.network.get_omnipath()

In [6]:
graph = nc.utils.network_from_df(df)

In [7]:
cn_graph = nc._utils.to_cornetograph(graph)

In [8]:
cn_graph._default_edge_type

In [9]:
import pandas as pd

In [12]:
edge_df = pd.DataFrame.from_dict(cn_graph.get_attr_edges())

In [13]:
edge_df

,__edge_type,interaction,__source_attr,__target_attr
0,directed,-1,{'CALM1': {'__value': {}}},{'TRPC1': {'__value': {}}}
1,directed,-1,{'CALM1': {'__value': {}}},{'TRPC3': {'__value': {}}}
2,directed,1,{'CALM1': {'__value': {}}},{'TRPC6': {'__value': {}}}
3,directed,1,{'CALM1': {'__value': {}}},{'TRPV1': {'__value': {}}}
4,directed,1,{'CALM1': {'__value': {}}},{'TRPV4': {'__value': {}}}
...,...,...,...,...
13167,directed,1,{'TASP1': {'__value': {}}},{'GTF2A1': {'__value': {}}}
13168,directed,1,{'NAA10': {'__value': {}}},{'HIF1A': {'__value': {}}}
13169,directed,1,{'ECE1': {'__value': {}}},{'EDN1': {'__value': {}}}
13170,directed,1,{'CSNK1G3': {'__value': {}}},{'TP53': {'__value': {}}}
13171,directed,1,{'CSNK1G3': {'__value': {}}},{'YWHAQ': {'__value': {}}}

In [15]:
edge_df1 = edge_df[['__edge_type', 'interaction', '__source_attr']]
edge_df1

      __edge_type  interaction                 __source_attr
0        directed           -1    {'CALM1': {'__value': {}}}
1        directed           -1    {'CALM1': {'__value': {}}}
2        directed            1    {'CALM1': {'__value': {}}}
3        directed            1    {'CALM1': {'__value': {}}}
4        directed            1    {'CALM1': {'__value': {}}}
...           ...          ...                           ...
13167    directed            1    {'TASP1': {'__value': {}}}
13168    directed            1    {'NAA10': {'__value': {}}}
13169    directed            1     {'ECE1': {'__value': {}}}
13170    directed            1  {'CSNK1G3': {'__value': {}}}
13171    directed            1  {'CSNK1G3': {'__value': {}}}

[13172 rows x 3 columns]

In [20]:
concat_df = pd.concat([edge_df['__source_attr'], edge_df['__target_attr']]).reset_index()
concat_df.rename(columns={0: 'node'}, inplace=True)

In [22]:
concat_df

       index                         node
0          0   {'CALM1': {'__value': {}}}
1          1   {'CALM1': {'__value': {}}}
2          2   {'CALM1': {'__value': {}}}
3          3   {'CALM1': {'__value': {}}}
4          4   {'CALM1': {'__value': {}}}
...      ...                          ...
26339  13167  {'GTF2A1': {'__value': {}}}
26340  13168   {'HIF1A': {'__value': {}}}
26341  13169    {'EDN1': {'__value': {}}}
26342  13170    {'TP53': {'__value': {}}}
26343  13171   {'YWHAQ': {'__value': {}}}

[26344 rows x 2 columns]